.header {
    padding: 50px; 
    text-align: center; 
    background: #1abc9c; 
    color: white; 
}

.header-small {
    padding: 1%; 
    background: #1abc9c; 
    color: white; 
    margin : 0px;
}

.headerText {
    font-size: 40px;
}